
body{
    width: 100%;
    margin: 0;
    background-image:url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}
.slider-wrapper{
    width: 60%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.login-wrapper{
    width: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.slider-contain{
    background-color:#fff;
    width:fit-content;
    height: fit-content;
    margin-right: .9em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 2em 5em 2em;
}

 .carousel{
    width: 32em;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }
.img-slide{
    border-radius: 2em;
    width: 32em;
    height: 25em;
}
.login-contain{
    background-color:#fff;
    width:fit-content;
    height: fit-content;
    margin-left: .9em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 4em 4em 4em 4em;
}
.logo{
      background-image: url("../image/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 6em;height: 4em; border: none;
}
@media screen and (max-width:600px)
{
    .slider-wrapper{
        display: none;
    }
    .login-wrapper{
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0;
    }
    .login-contain{
        margin: 0;
        width: fit-content;
        height: fit-content;
        padding: 2.5em;
    }
    .login-wrapper{
        align-items:center;
        justify-content: center;

    }
}

@media screen and (min-width: 767px)
{
    .main-wrapper{
        gap:1em
    }
    .slider-wrapper{
        width: 60%;
        background-color:transparent;
        
        
    }
    .login-wrapper{
        width: 40%;
        background-color:transparent;
       
        
    }
    .login-contain{
        padding: 2em 1.3em 2em 1.3em;
        width: fit-content;
        height: fit-content;
        margin: 0;

    }
    .slider-contain{
       
        width:fit-content;
    height: fit-content;
    /* margin-right: .9em; */
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 1em 5em 1em;
    margin: 0;
        
    }
    .carousel{
        width: 23em;
    height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
    
     }
    .img-slide{
        border-radius: 2em;
        width: 23em;
    height: 20em;
    }
} 
@media screen and (min-width:911px)
{
    .main-wrapper{
        gap:1em
    }
    .slider-wrapper{
        width: 60%;
        background-color:transparent;
        
        
    }
    .login-wrapper{
        width: 40%;
        background-color:transparent;
       
        
    }
    .login-contain{
        padding: 2.7em 2.5em 2.7em 2.5em;
        width: fit-content;
        height: fit-content;
        margin: 0;

    }
    .slider-contain{
       
        width:fit-content;
    height: fit-content;
    /* margin-right: .9em; */
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 1em 5em 1em;
    margin: 0;
        
    }
    .carousel{
        width: 27em;
    height: 22em;
        display: flex;
        align-items: center;
        justify-content: center;
    
     }
    .img-slide{
        border-radius: 2em;
        width: 27em;
    height: 22em;
    }
} 
@media screen and (min-width:1024px){
    /* .main-wrapper{
        display: flex;
        height: 100vh;
        width: 100%;
    } */
    .slider-wrapper{
        width: 63%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .login-wrapper{
        width: 37%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    
    .slider-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        /* margin-right: 1em; */
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5em 2em 5em 2em;
    }
    
     .carousel{
        width: 33em;
        height: 24.5em;
        display: flex;
        align-items: center;
        justify-content: center;
       
     }
    .img-slide{
        border-radius: 2em;
        width: 32em;
        height: 24.5em;
    }
    .login-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        margin-left: 0em;
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* gap: 1em; */
        padding: 4em 4em 4em 4em;
    }
}

@media screen and (min-width:1279px){
    .main-wrapper{
        /* display: flex;
        height: 100vh;
        width: 100%; */
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
    .slider-wrapper{
        width: 62%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .login-wrapper{
        width: 38%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    
    .slider-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        /* margin-right: 1em; */
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5em 2em 5em 2em;
        margin: 0;
    }
    
     .carousel{
        width: 37em;
        height: 25em;
        display: flex;
        align-items: center;
        justify-content: center;
       
     }
    .img-slide{
        border-radius: 2em;
        width: 37em;
        height: 25em;
    }
    .login-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        margin-left: 0em;
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* gap: 1em; */
        padding: 4.2em 4em 4.2em 4em;
        margin: 0;
    }
    /* .logo{
        width:15em ;
        height: 15em;
    } */
}

@media screen and (min-width:1439px){
    .main-wrapper{
        /* display: flex;
        height: 100vh;
        width: 100%; */
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
    .slider-wrapper{
        width: 65%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .login-wrapper{
        width: 35%;
        background-color:transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    
    .slider-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        /* margin-right: 1em; */
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5em 2em 5em 2em;
        margin: 0;
    }
    
     .carousel{
        width: 45em;
        height: 32em;
        display: flex;
        align-items: center;
        justify-content: center;
       
     }
    .img-slide{
        border-radius: 2em;
        width: 45em;
        height: 32em;
    }
    .login-contain{
        background-color:#fff;
        width:fit-content;
        height: fit-content;
        margin-left: 0em;
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* gap: 1em; */
        padding: 5.9em 4.2em 5.9em 4.2em;
        margin: 0;
        
    }
    .logo{
        width:8em ;
        height: 7em;
    }
    .text-res{
        font-size:2em;
    }
    .contrl{
       margin: 4em 0 0 0;
    }
}








